---
{% raw %}# defaults file for {{ role_name }}
#
# something like the following might use the boolean variable tasks/assert.yml example
#
#{{ role_name }}_autoremove: no
#
# something like the following might use the string tasks/assert.yml example
#
# For APT (Debian/Ubuntu) only: apt_upgrade type which can be: dist, full, yes, or safe
#{{ role_name }}_upgrade_command: dist
#
# something like the following might use the number tasks/assert.yml example
#
# For APT (Debian/Ubuntu) only: update the apt cache if it's older than the cache_valid_time. Set in seconds.
#{{ role_name }}_cache_valid_time: 1
#
#
# something like the following might use the list tasks/assert.yml example
#
# You can exclude certain packages from being updated.
# Some Ansible modules do not support this option, so this variable works for only:
# - apt
# - dnf
# - yum
#
# Example:
# {{ role_name }}_excluded_packages:
#   - kernel
# {{ role_name }}_excluded_packages: []
{% endraw %}
